<h2>Product Details</h2>

<div *ngIf="product">
	<h3>{{ product.name }}</h3>
	<h4>{{ product.price | currency }}</h4>
	<p>{{ product.description }}</p>
	<h4>Rating : {{product.rating}}</h4>
  <h3> Like:{{ product.like }} </h3>
	<div class="img-container">
	<img [src] = "product.image1">
	<img [src] = "product.image2">
	<img [src] = "product.image3">
	</div>
	<button (click)="addToCart(product)">Buy</button>
	<a [href] = 'product.href'> <button> Amazon </button> </a>
  <button (click)="like(product)"> Like </button>
</div>
